<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/865f75919f.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>CodeCool Gallery | Finest Art</title>

    <script src="/static/js/landing.js" defer></script>

</head>
<body>
    <nav class="navbar bg-complementer">
        <h1>
            <a href="/landing">
                <i class="fab fa-artstation"></i> CodeCool Gallery
            </a>
        </h1>
        <ul>
            <li><i class="fas fa-bars"></i></li>
        </ul>
    </nav>

    <main>
        <section class="landing-text">
            <h1 class="slogen">
                The CodeCool Gallery
            </h1>
            <h3 class="description">
                The best of art for reasonable prices, definitely not stolen
            </h3>
        </section>

        <section class="slider">

            <div class="left-button"></div>

            <div class="picture-background" data-width="normal">
                <div class="pictures"></div>

            </div>

            <div class="right-button"></div>

        </section>
    </main>

    <div class="button-placement">
        <div class="button button-browse">
            BROWSE
        </div>
    </div>

</body>
</html>