@import "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: $grey-color;
  background: url('/static/img/background/background.png') no-repeat center center/cover;
  height: 100vh;
}

a {
  text-decoration: none;
  color: $light-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 8rem;
  background-color: $complementer-color;
  opacity: 0.6;
  color: $light-color;

  h1 {
    font-size: 2rem;


    a {
      color: $light-color;

      &:hover {
        color: lighten($light-color, 15%);
      }
    }

    i {
      font-size: 3rem;
      color: $light-color;
    }

  }

  .fa-bars {
    font-size: 3rem;
    color: $light-color;

      &:hover {
        color: lighten($light-color, 15%);
      }
  }
}

main {
  color: $light-color;
  height: 75vh;
  display: flex;
  text-align: center;

  .landing-text {
    margin: auto;

    .slogen {
    font-size: 3rem;
    }
  }

  .max-width-slider {
    width: 1160px;
    height: 650px;
  }
  .slider {
    margin: auto;
    display: flex;
    align-items: center;

    .left-button {
      width: 80px;
      height: 80px;
      background: url('/static/img/icons/Page-left.png') no-repeat center;
      transition: all 0.2s ease-in;

        &:hover {
          background: url('/static/img/icons/hover_left.png') no-repeat center;
        }
    }

    .picture-background {
      position: relative;
      height: 650px;
      width: 650px;
      background-color: $complementer-color;
      transition: all 0.2s ease-in;
      opacity: 1;


      .pictures {
        background: url('/static/img/gallery/the_artis_looks_at_nature.png') no-repeat center center/cover;
        position: absolute;
        height: inherit;
        width: inherit;
        z-index: 2;

      }
    }

    .right-button {
      width: 80px;
      height: 80px;
      background: url('/static/img/icons/Page-right.png') no-repeat center;
      transition: all 0.2s ease-in;

        &:hover {
          background: url('/static/img/icons/hover_right.png') no-repeat center;
        }
    }

  }
  #navbar-opened {
    display: none;
    right: 0;
    z-index: 10;
    width: 185px;
    background-color: $complementer-color;
    border-radius: 25px;
    border: $dark-color solid 1px;
  }
}

.button-placement {
  margin:auto;
  text-align: center;
}

.button {
  display: inline-block;
  background: $light-color;
  color: $dark-color;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  padding: 0.4rem 1.3rem;
  outline: none;
  transition: all 0.5s ease-in;
  border-radius: 25px;

  &.button-browse {
    background: $complementer-color;
    color: $dark-color;
    font-size: 1.6rem;
    padding: 0.8rem 2.6rem;
    font-weight: bold;

    &:hover {
      background: lighten($complementer-color, 15%);
      color: $dark-color;
    }

  }
}

